<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://e15-st3programmeringreexam.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>e15-st3programmeringreexam.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>E15-ST3ProgrammeringReexam</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$E15-ST3ProgrammeringReexam</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="E15_ST3ProgrammeringReexamContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:yy6x87k68z.database.windows.net,1433;Initial Catalog=E15-ST3ProgrammeringReexam_db;User ID=jrt@yy6x87k68z;Password=Fart6Buller" Name="Data Source=tcp:yy6x87k68z.database.windows.net,1433;Initial Catalog=E15-ST3ProgrammeringReexam_db;User Id=jrt@yy6x87k68z;Password=Fart6Buller" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="E15_ST3ProgrammeringReexam.Models.E15_ST3ProgrammeringReexamContext, E15-ST3ProgrammeringReexam" MigrationConfiguration="E15_ST3ProgrammeringReexam.Migrations.Configuration, E15-ST3ProgrammeringReexam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)E15_ST3ProgrammeringReexamContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yy6x87k68z.database.windows.net,1433;Initial Catalog=E15-ST3ProgrammeringReexam_db;User Id=jrt@yy6x87k68z;Password=Fart6Buller</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>