<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://f16-st3p3opgave.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>f16-st3p3opgave.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>F16-ST3P3Opgave</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$F16-ST3P3Opgave</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="F16_ST3P3OpgaveContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yy6x87k68z.database.windows.net,1433;Persist Security Info=True;User ID=jrt@yy6x87k68z;Password=Fart6Buller" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="F16_ST3P3Opgave.Models.F16_ST3P3OpgaveContext, F16-ST3P3Opgave" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)F16_ST3P3OpgaveContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yy6x87k68z.database.windows.net,1433;Persist Security Info=True;User ID=jrt@yy6x87k68z;Password=Fart6Buller</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>